
body {
    background:#fff;
    -webkit-animation:fadein 1s;
/* Safari, Chrome and Opera > 12.1 */
    -moz-animation:fadein 1s;
/* Firefox < 16 */
    -ms-animation:fadein 1s;
/* Internet Explorer */
    -o-animation:fadein 1s;
/* Opera < 12.1 */
    animation:fadein 1s;
    background: #fff;

}

ul li {
    list-style-type:none;
    display:inline;
    padding: .6%;
    float: right;
    position: relative;
}

body{
    background-color: white;
}
#container{
    width: 100%;
}

.navbar {
    width:100%;
    overflow:hidden;
/* I don't understand why I need overflow */
    background:#FFF;
    border-bottom:.6px solid #FF4F1E;

}

.mennav {
    width:100%;
    text-align:center;
    margin-top: .5%;
    margin-left: -5%;
    font-size:.95em;
    color:#FF4F1E;
    font-family: 'Heebo', sans-serif;
    font-weight:200;
    text-transform:uppercase;
    text-decoration:none;
}

a.mennav:link
{
 text-decoration:none;
}



.title {

    font-size:2em;
    color:#FF4F1E;
    font-family:Julius Sans One, sans-serif;
    font-weight:200;
    text-transform:uppercase;
    float: left;
    padding-bottom: 1em;
}


.logo {
	width:125px;
	float: left;
	padding-top: .5%;
	padding-bottom: 2%;
    padding-left: 2%;
}

a:hover.mennav {
    background-color: #B4DAA7;
    color:#FFF;

}

#Register{
    background-color: #fff;
    padding-bottom: 1%;
}

.amesinvites{
	font-size: 2em;
	text-align: center;
	color: #231F20;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
}



.paragraph{
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.3em;

}

.paragraphi{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.3em;
    font-style: italic;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 500px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: relative;
}


.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: relative;
}



.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
}

.button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    text-decoration: none;
}

.introcontainer {
display: block;
margin: auto;

}

a{
color: #FF4F1E;
}


.tiny{
	color:#FF4F1E;
}

.Subtitle{
	color: #FF4F1E;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
    background-color:
}

.Sponsor{
    color: #FF4F1E;
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;

}

.sponsorlogos{

	max-height: auto;
	max-width: auto;
	display: block;
	margin: auto;
	padding-bottom: 1%;

}

.calicon{
	display: inline;
	margin: auto;
	size: 100px;
}

.footer {

    width:100%;
  	height: 100px;
   	background-color: #f2f2f2;
   	font-color:#FFF;
   }

 .footertext{
 	float: right;
 	color: #FF4F1E ;
 	font-size: .7em;
 	padding-top: 5%;
 	padding-right: 1%;
 }


.scrollup {
    width: 50px;
    height: 30px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    text-indent: -9999px;
    background: url('scroll.png') no-repeat, center;
    border-radius: 25px;
    background-color: #B4DAA7;
}

.center{
	margin: auto;
	text-align: center;
	font-size: 1.5em;
	font-family:Julius Sans One, sans-serif;
}

.headerimg{
	max-height: 300px;
	display: block;
	margin: auto;
	padding-bottom: 1%;
}
.test{
	max-width: 800px;

}

#Sponsors{
	font-size: 1em;
	font-family: Open Sans, sans-serif;
	padding-bottom: 1%;
}

a:visited {
    text-decoration: none;
}


.visitour{
	margin: auto;
	display: block;
	text-align: center;
	font-size: 1em;
	font-family: Open Sans, sans-serif;
	text-transform: uppercase;

}

.blah{
    background-color: #f2f2f2;
    padding: 1%;
}

.bear{
    display: block;
    margin: auto;

}

.donate{
    display: block;
    margin: auto;
    width: 200px;

}

.toytitle{
    margin: auto;
    display: block;
    text-align: center;
    font-size: .9em;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;

}

#ToyDrive{
    font-size: 1em;
    font-family: Open Sans, sans-serif;
}
a:hover.visitour {
    color: #FF4F1E;
    text-decoration: none;
 -webkit-transform:translateY(-8px);
    transform:translateY(-8px);
    box-shadow:0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -moz-osx-font-smoothing:grayscale;
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-property:transform;
    transition-property:transform;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out;
}
a:hover.links{
    color: #FF4F1E;
    text-decoration: none;

}

a:hover.visitour {
    color: #FF4F1E;
    text-decoration: none;
 -webkit-transform:translateY(-8px);
    transform:translateY(-8px);
    box-shadow:0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -moz-osx-font-smoothing:grayscale;
    -webkit-transition-duration:.3s;
    transition-duration:.3s;
    -webkit-transition-property:transform;
    transition-property:transform;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out;
}

@keyframes fadein {
from {
    opacity:0
}

to {
    opacity:1
}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from {
    opacity:0
}

to {
    opacity:1
}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from {
    opacity:0
}

to {
    opacity:1
}
}

/* Internet Explorer */
@-ms-keyframes fadein {
from {
    opacity:0
}

to {
    opacity:1
}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from {
    opacity:0
}

to {
    opacity:1
}
}


/* Float */
.hvr-float {
    display:inline-block;
    vertical-align:middle;

}


.hvr-float:hover,.hvr-float:focus,.hvr-float:active {
    -webkit-transform:translateY(-8px);
    transform:translateY(-8px);
}

.cimages{
	width: 100%;
	height: 400px;
}


  @import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
  body{
        background: #fff;
        margin:0px ;
        color:#333;
       ;
    }
    a.button{
        background: #ECECEC;
        border-radius: 15px;
        padding: 10px 20px;
        display: block;
        font-family: arial;
        font-weight: bold;
        color:#7f7f7f;
        text-decoration: none;
        text-shadow:0px 1px 0px #fff;
        border:1px solid #a7a7a7;
        width: 145px;
        margin:0px auto;
        margin-top:2%;
        box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
        -webkit-transition:box-shadow 0.5s;
    }
    a.button i{
        float: right;
        margin-top: 2px;
    }
    a.button:hover{
        box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    }
    a.button:active{
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
        background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
    }




@media screen and (max-width:929px)  {
  ul li {
      list-style-type:none;
      display: inline;
      padding: 1px;
      padding-top: 3%;
      float: left;
      font-size: 1.5em;

  }

.carousel-indicators{
	display: none;
}

body{
	font-size: 65%;
	}
.amesinvites{
	font-size:3em;
	padding-left: 2%;
	padding-right: 2%;
}
.title{


	margin: auto;
}
.logo{
	display: none;
}

.sponsorlogos{
	max-height: 50%;
	max-width: 50%;
	display: block;
	margin: auto;
	padding-bottom: 1%;
}
.scrollup{
	width: 50px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 5px;
    display: none;
    text-indent: -9999px;
    background: url('') no-repeat, center;
    border-radius: 25px;

}

.footer{
	height: 80px;
}

.title{
	font-size: 4em;
	padding-bottom:0;
}

.navbar{
	border: none;
	padding-top: 5%;
	padding-bottom: 1%;
	padding-left: 5%;

}

.calicon{
	display: block;
	margin: auto;
	size: 100px;
}
.center{
	font-size: 3em;
}
.footer{
	background-color: #fff;
	height: 10px;
}
.footertext{
 	float: right;
 	color: #FF4F1E ;
 	font-size: .7em;

 }

 .paragraph{
 	font-size: 2em;
 }

 .visitour{
 	font-size: 3em;
 }
}
